@model netpractice1.Models.DogViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Hello World</h1>

<p>Index page of Hello World controller</p>

<h4>Dog name: @Model.Name</h4>
<h4>Age: @Model.Age</h4>