@model List<netpractice1.Models.DogViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Hello World</h1>

<p>Index page of Hello World controller</p>

<ul>
    @foreach (var dog in Model)
    {
        <li>@dog.Name (@dog.Age)</li>
    }
</ul>